* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

p {
  font-size: 12px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-arrow {
  background-color: #333;
  width: 80px;
  bottom: 0;
  height: 60px;
  color: #fff;
  right: 0%;
  border: none;
}

.slick-arrow.prev-arrow {
  position: absolute;
  top: 88%;
  right: -10%;
  z-index: 1;
}

.slick-arrow.next-arrow {
  position: absolute;
  top: 88%;
  right: -18%;
  z-index: 1;
}

/* .button-section .btn {
  color: #fff;
  width: 50%;
  height: 100%;
  border-radius: 0;
} */

.button-section .btn:nth-child(2) {
  background-color: #ececec;
}

@media (max-width:768px) {
  .slick-arrow.next-arrow {
    position: absolute;
    top: 75%;
    right: -4%;
    z-index: 1;
  }
}

@media (max-width:768px) {
  .slick-arrow.prev-arrow {
    position: absolute;
    top: 75%;
    right: 8%;
    z-index: 1;
  }
}

